
body {
    background-color: #444444;
    color: #ffffff;
    background: url(img/rose.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#heart {
    font-size: 26pt;
}
#bio {
    background-color: rgba(25,25,25,.6);
}

/* Show in Large desktops and laptops */
@media (min-width: 1200px) {

    body {
        background-color: #444444;
        color: #ffffff;
        background: url(img/rose.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
    
/*Hide in Other Small Devices */


/* Landscape tablets and medium desktops 
@media (min-width: 992px) and (max-width: 1199px) {

    body {
        background-color: #444444;
        color: #ffffff;
        background-image: none;
    }

}
*/

/* Portrait tablets and small desktops 
@media (min-width: 768px) and (max-width: 991px) {

    body {
        background-color: #444444;
        color: #ffffff;
        background-image: none;
    }
}
*/

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

    body {
        background-color: #444444;
        color: #ffffff;
        background-image: none;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

    body {
        background-color: #444444;
        color: #ffffff;
        background-image: none;
    }
}
